n8n_classify_products_gpt.json
{
  "name": "Classify Products by Type (GPT)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "classify-products",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "classify-products-gpt"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://elo_server:8000/api/v1/plan/products/untyped/?offset={{ $json.body.offset || 0 }}&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Host", "value": "localhost" }
          ]
        },
        "options": {}
      },
      "id": "fetch-products",
      "name": "Fetch Untyped Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst products = data.products || [];\nconst types = data.types || [];\n\nif (products.length === 0) {\n  return [{ json: { skip: true, total: data.total, message: 'Нет продуктов для классификации' } }];\n}\n\nconst productList = products.map(p => `ID:${p.id} | ${p.name} | группа: ${p.group || 'нет'}`).join('\\n');\n\nconst prompt = `Ты классификатор изделий мебельной фабрики. Вот доступные типы изделий: ${types.join(', ')}.\n\nВАЖНО: Классифицируй ТОЛЬКО готовые изделия (диван, стул, кресло, кровать и т.д.).\nНЕ классифицируй составные части и комплектующие: ножки, спинки, сидушки, подлокотники, подушки сидений, мягкие элементы, царги, опоры, механизмы, фурнитуру, чехлы отдельные.\nЕсли продукт — это составная часть, ставь тип \"null\".\nЕсли не можешь определить тип — тоже ставь \"null\".\n\nВерни ТОЛЬКО JSON массив без markdown: [{\"id\":число,\"type\":\"название типа или null\"}]\n\nПродукты:\n${productList}`;\n\nreturn [{ json: { prompt, products, types, total: data.total, skip: false } }];"
      },
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-has-products",
      "name": "Has Products?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [950, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', messages: [{ role: 'system', content: 'Ты классификатор мебельных изделий. Отвечай только JSON массивом.' }, { role: 'user', content: $json.prompt }], temperature: 0.1 }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "gpt-classify",
      "name": "GPT Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 250],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.choices[0].message.content;\nlet text = raw.trim();\nif (text.startsWith('```')) {\n  text = text.split('\\n').slice(1).join('\\n').replace(/```$/, '').trim();\n}\n\nlet assignments = [];\ntry {\n  const parsed = JSON.parse(text);\n  if (Array.isArray(parsed)) {\n    assignments = parsed\n      .filter(a => a.type && a.type !== 'null' && a.type !== null)\n      .map(a => ({ product_id: a.id, type_name: a.type }));\n  }\n} catch(e) {\n  const match = text.match(/\\[[\\s\\S]*\\]/);\n  if (match) {\n    try {\n      const parsed2 = JSON.parse(match[0]);\n      assignments = parsed2\n        .filter(a => a.type && a.type !== 'null' && a.type !== null)\n        .map(a => ({ product_id: a.id, type_name: a.type }));\n    } catch(e2) {}\n  }\n}\n\nconst prevData = $('Build Prompt').first().json;\nreturn [{ json: { assignments, total: prevData.total, classified: assignments.length, products_count: prevData.products.length } }];"
      },
      "id": "parse-result",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 250]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://elo_server:8000/api/v1/plan/products/set_types/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Host", "value": "localhost" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ assignments: $json.assignments }) }}",
        "options": {}
      },
      "id": "save-types",
      "name": "Save Types",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 250]
    },
    {
      "parameters": {
        "jsCode": "const saveResult = $input.first().json;\nconst prevData = $('Parse Result').first().json;\n\nreturn [{ json: {\n  response: `Обработано ${prevData.products_count} продуктов. Классифицировано: ${saveResult.updated}. Пропущено: ${saveResult.skipped}. Осталось без типа: ${prevData.total - saveResult.updated}.`,\n  updated: saveResult.updated,\n  skipped: saveResult.skipped,\n  remaining: prevData.total - saveResult.updated\n} }];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1950, 250]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: { response: data.message || 'Все продукты уже классифицированы', updated: 0, remaining: data.total || 0 } }];"
      },
      "id": "no-products",
      "name": "No Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2200, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Fetch Untyped Products", "type": "main", "index": 0 }]]
    },
    "Fetch Untyped Products": {
      "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]]
    },
    "Build Prompt": {
      "main": [[{ "node": "Has Products?", "type": "main", "index": 0 }]]
    },
    "Has Products?": {
      "main": [
        [{ "node": "GPT Classify", "type": "main", "index": 0 }],
        [{ "node": "No Products", "type": "main", "index": 0 }]
      ]
    },
    "GPT Classify": {
      "main": [[{ "node": "Parse Result", "type": "main", "index": 0 }]]
    },
    "Parse Result": {
      "main": [[{ "node": "Save Types", "type": "main", "index": 0 }]]
    },
    "Save Types": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    },
    "No Products": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
