n8n_ai_plan_generate_gpt.json
{
  "name": "AI Plan Generate (GPT)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-plan-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "ai-plan-generate"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.body;\nconst orders = data.orders || [];\nconst deptLoad = data.department_load || {};\nconst today = data.today;\nconst basePrompt = data.base_prompt || '';\n\n// Формируем сводку загрузки цехов\nlet loadSummary = 'ЗАГРУЗКА ЦЕХОВ:\\n';\nfor (const [dept, info] of Object.entries(deptLoad)) {\n  loadSummary += `${dept}: ${info.total_hours}ч работы, ${info.workers} рабочих, ${info.hours_per_day}ч/день, нужно ${info.days_needed} дней\\n`;\n}\n\n// Формируем список заказов\nlet ordersList = 'ЗАКАЗЫ В ПРОИЗВОДСТВЕ:\\n';\nfor (const o of orders) {\n  let line = `[${o.series_id}] ${o.product} | заказ: ${o.order} | проект: ${o.project || 'нет'} | кол-во: ${o.quantity} | срочность: ${o.urgency || 'нет'}`;\n  if (o.deadline) {\n    line += ` | срок: ${o.deadline} (${o.days_left >= 0 ? o.days_left + ' дн. осталось' : Math.abs(o.days_left) + ' дн. ПРОСРОЧЕНО'})`;\n  } else {\n    line += ' | срок: не установлен';\n  }\n  // Прогресс по цехам\n  const depts = Object.entries(o.departments || {}).map(([d, s]) => `${d}:${s.ready}/${s.all}`).join(', ');\n  if (depts) line += ` | прогресс: ${depts}`;\n  // Оставшиеся часы\n  const hours = Object.entries(o.remaining_hours || {}).map(([d, h]) => `${d}:${h}ч`).join(', ');\n  if (hours) line += ` | осталось работы: ${hours}`;\n  if (o.feedback) line += ` | ОБРАТНАЯ СВЯЗЬ: ${o.feedback}`;\n  ordersList += line + '\\n';\n}\n\nconst prompt = `${basePrompt}\\n\\nСегодня: ${today}\\n\\n${loadSummary}\\n${ordersList}\\nНа основе данных выше:\\n1. Расставь приоритеты всем заказам (sort_weight от 0 до 100, где 100 = максимальный приоритет)\\n2. Определи порядок выполнения (sort_position, 1 = первый в очереди)\\n3. Дай краткий комментарий по каждому заказу (ai_comment)\\n4. Составь ПЛАН НА СЕГОДНЯ — что конкретно делать в каждом цеху\\n5. Укажи ПРЕДУПРЕЖДЕНИЯ по заказам которые не успеваем в срок\\n\\nПри расстановке приоритетов учитывай:\\n- Срочность (urgency 1 = горящий, 2 = важный, 3 = обычный)\\n- Дни до дедлайна (просроченные = максимальный приоритет)\\n- Обратную связь пользователя (feedback)\\n- Загрузку цехов\\n\\nВерни ТОЛЬКО JSON без markdown:\\n{\\n  \"summary\": \"План на сегодня: ... Предупреждения: ...\",\\n  \"entries\": [\\n    {\"series_id\": \"ID\", \"sort_weight\": число, \"sort_position\": число, \"ai_comment\": \"комментарий\"}\\n  ]\\n}`;\n\nreturn [{ json: { prompt, orders_count: orders.length } }];"
      },
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', messages: [{ role: 'system', content: 'Ты AI-планировщик мебельной фабрики. Анализируешь заказы и составляешь производственный план. Отвечай только JSON.' }, { role: 'user', content: $json.prompt }], temperature: 0.2, max_tokens: 4096 }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "gpt-analyze",
      "name": "GPT Analyze",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.choices[0].message.content;\nlet text = raw.trim();\nif (text.startsWith('```')) {\n  text = text.split('\\n').slice(1).join('\\n').replace(/```$/, '').trim();\n}\n\ntry {\n  const result = JSON.parse(text);\n  return [{ json: result }];\n} catch(e) {\n  // Попробуем извлечь JSON\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try {\n      const result = JSON.parse(match[0]);\n      return [{ json: result }];\n    } catch(e2) {}\n  }\n  return [{ json: { summary: 'Ошибка парсинга ответа AI', entries: [], raw: text } }];\n}"
      },
      "id": "parse-result",
      "name": "Parse Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [950, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]]
    },
    "Build Prompt": {
      "main": [[{ "node": "GPT Analyze", "type": "main", "index": 0 }]]
    },
    "GPT Analyze": {
      "main": [[{ "node": "Parse Result", "type": "main", "index": 0 }]]
    },
    "Parse Result": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
